# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage

# Build
/build
/dist
/dist-client
/dist-electron
/.opt-in

# Electron
/electron-cache
/electron-builder-cache

# Generated translation files
/translations
/locale

# Other generated source
/src/generated

# Downloaded during "npm install"
/static/microbit

# for act
.secrets

# Build logs
webpack.log
